* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;  
}

.header {
    height: 200px;
    /* color: white; */
    background-color: #ffffff;
    padding: 80px;
    
}

h1 {
    font-size: 50px;
}

.contant-container {
    height: 800px;
    background-image: url(../img/my_photo.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #F3F3F3;
}

.menu {
    height: 100px;
    background-color: #ffd900;
    padding: 39px 80px;
}

.menu li, a {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    display: inline;
    color: #ffffff;   
}

.menu-container a:hover{
    color: blue;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    padding: 80px;
    font-size: 50px;
    line-height: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    height: 200px;
    background-color: #ffd900;
    color: #ffffff;
}
.footer-container p {
    font-size: 50px; 
}
